
name: release
on:
  workflow_dispatch:
jobs:
  publish-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Publish API
        run: |
          dotnet publish src/api -c Release -o out/api
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: api
          path: out/api
